In [1]:
import pandas as pd
import numpy as np

In [2]:
# 读取数据集
train_data = pd.read_csv('original_data/train.csv') # 训练原始数据集
test_data = pd.read_csv('original_data/testA.csv') # 测试原始数据集

In [3]:
train_data.head()

   id                                  heartbeat_signals  label
0   0  0.9912297987616655,0.9435330436439665,0.764677...    0.0
1   1  0.9714822034884503,0.9289687459588268,0.572932...    0.0
2   2  1.0,0.9591487564065292,0.7013782792997189,0.23...    2.0
3   3  0.9757952826275774,0.9340884687738161,0.659636...    0.0
4   4  0.0,0.055816398940721094,0.26129357194994196,0...    2.0

In [4]:
train_data.shape

(100000, 3)

In [5]:
test_data.head()

       id                                  heartbeat_signals
0  100000  0.9915713654170097,1.0,0.6318163407681274,0.13...
1  100001  0.6075533139615096,0.5417083883163654,0.340694...
2  100002  0.9752726292239277,0.6710965234906665,0.686758...
3  100003  0.9956348033996116,0.9170249621481004,0.521096...
4  100004  1.0,0.8879490481178918,0.745564725322326,0.531...

In [6]:
test_data.shape

(20000, 2)

In [7]:
train_list = []

for items in train_data.values:
    # 认为id该特征为无效特征
    train_list.append([float(i) for i in items[1].split(',')] + [items[2]]) # 根据逗号进行分割

train = pd.DataFrame(np.array(train_list))
train.columns = ['s_'+str(i) for i in range(len(train_list[0])-1)] + ['label']

test_list = []
for items in test_data.values:
    test_list.append([float(i) for i in items[1].split(',')])

test = pd.DataFrame(np.array(test_list))
test.columns = ['s_'+str(i) for i in range(len(test_list[0]))]

In [8]:
train.head()

,s_0,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,...,s_196,s_197,s_198,s_199,s_200,s_201,s_202,s_203,s_204,label
0,0.991230,0.943533,0.764677,0.618571,0.379632,0.190822,0.040237,0.025995,0.031709,0.065524,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.971482,0.928969,0.572933,0.178457,0.122962,0.132360,0.094392,0.089575,0.030481,0.040499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.959149,0.701378,0.231778,0.000000,0.080698,0.128376,0.187448,0.280826,0.328261,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,0.975795,0.934088,0.659637,0.249921,0.237116,0.281445,0.249921,0.249921,0.241397,0.230670,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.055816,0.261294,0.359847,0.433143,0.453698,0.499004,0.542796,0.616904,0.676696,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [9]:
# 处理后的数据的保存
train.to_csv('data_0/train.csv', index=False)
test.to_csv('data_0/test.csv', index=False)