In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('data_0/train.csv')
train_data.head()

,s_0,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,...,s_196,s_197,s_198,s_199,s_200,s_201,s_202,s_203,s_204,label
0,0.991230,0.943533,0.764677,0.618571,0.379632,0.190822,0.040237,0.025995,0.031709,0.065524,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.971482,0.928969,0.572933,0.178457,0.122962,0.132360,0.094392,0.089575,0.030481,0.040499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.959149,0.701378,0.231778,0.000000,0.080698,0.128376,0.187448,0.280826,0.328261,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,0.975795,0.934088,0.659637,0.249921,0.237116,0.281445,0.249921,0.249921,0.241397,0.230670,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.055816,0.261294,0.359847,0.433143,0.453698,0.499004,0.542796,0.616904,0.676696,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [3]:
test_data = pd.read_csv('data_0/test.csv')
test_data.head()

,s_0,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8,s_9,...,s_195,s_196,s_197,s_198,s_199,s_200,s_201,s_202,s_203,s_204
0,0.991571,1.000000,0.631816,0.136230,0.041420,0.102707,0.120854,0.123428,0.107915,0.110512,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.607553,0.541708,0.340694,0.000000,0.090708,0.164924,0.195034,0.168838,0.198844,0.153579,...,0.38996,0.386932,0.367251,0.363917,0.360574,0.357245,0.350575,0.350575,0.350565,0.363874
2,0.975273,0.671097,0.686759,0.708482,0.718660,0.716763,0.720548,0.701656,0.596579,0.487027,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.995635,0.917025,0.521096,0.000000,0.221770,0.404100,0.490399,0.527158,0.518056,0.545192,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1.000000,0.887949,0.745565,0.531720,0.380320,0.224631,0.091148,0.057639,0.003915,0.007820,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000